<!DOCTYPE html>
<html lang=pt-br> 
<head>
    <meta charset="UTF-8">

    <title>Visualização</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h3>Visualização dos Clientes Cadastrados</h3>
        <hr />
    </div>
    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <a href="/listarcliente/" class="btn btn-info">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
      <strong>Nome: </strong>{{db.nome}}<br>
      <strong>CPF: </strong>{{db.CPF}}<br>
      <strong>E-mail: </strong>{{db.email}}<br>
      <strong>Telefone: </strong>{{db.telefone}}<br>
      <strong>Idade: </strong>{{db.idade}}<br>
    </div>
    

</body>
</html>